# for developer sqlite files
*.db
tmp/

# for docker project
prestart.sh
update.sh
uwsgi.ini

# VScode
.vscode/

# for python-dotenv
.flaskenv

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Flask stuff:
instance/
.webassets-cache

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
