[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"
ipython = "*"
flask-shell-ipython = "*"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"
python-dotenv = "*"
flask-migrate = "*"

[requires]
python_version = "3.7"
